.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    pointer-events: all;
  }

  &__bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }

  &__container {
    background-color: theme("colors.black");
    position: relative;
    // padding: 1rem;
    overflow: scroll;
    width: 80vw;
    height: 80vh;
    &-inner {
      height: auto;
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
  [data-content] {
    padding: 3rem 3rem 3rem 0;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }
  &__close {
    position: fixed;
    right: calc(10vw + 1rem);
    top: calc(10vh + 1rem);
    padding: 0.25rem;
    line-height: 1;
    border: 2px solid theme("colors.dark-orange");
    outline: none;
    appearance: none;
    color: theme("colors.dark-orange");
    background: none;
    font-weight: bold;
    cursor: pointer;
  }
  &__menu {
    height: 80vh;
    position: sticky;
    top: 0;
  }
}
